
@import "normalize";
@import "modern-business";
body {

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  [class*='col-'] {
    padding-right: 20px;
  }

  h1 {
    color: black;

    small {
      color: #777;
    }
  }
  .section-colored
   {
    clear: both;
    overflow: hidden;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-left: 26px;
  }

  .row {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
  }

  .col-lg-12 { 
    float:left;
    width: 100%;

    h2 {
      position:relative;
      bottom:50px;
      width:100%;
      text-align: center;
    }
    hr {
      position:relative;
      bottom:60px;
      width:100%;
      text-align: center;
      border-color: white;
    }

    p {
      position:relative;
      bottom:50px;
      width:100%;
      text-align: center;
    }

    label, textarea {
      float: left;
      width: 100%;
      clear: both;
      font-weight: bold;
      padding-left: 20px;
    }
  }

  .col-lg-4 {
    float: left;
    width: 33%;

    label, input {
      float: left;
      width: 100%;
      clear: both;
      font-weight: bold;
    }
  }

  .col-sm-8 {
    float: left;
    width: 67%;
  }

  .col-sm-4 {
    float: left;
    width: 33%;
  }

  .img-responsive {
    width: 100%;
  }

  .section-colored.text-center {
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    clear: both;
  }

  .navbar {
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: -55px;
    overflow: hidden;
  }

  .navbar-brand {
    float: left;
    padding-left: 20px;
    padding-bottom: 8px
  }

  .navbar-right {
    float: right;
    padding-right: 15px;
    list-style-type: none;
    margin-top: -1.5px;  
  }

  nav a {
    text-decoration: none;
    color: #777;
  }

  .col-lg-6 {
    float: left;
    width: 50%;
  }

  .breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    font: 18px Helvetica, Arial, Sans-Serif;
    background-color: #f5f5f5;
    padding: 15px;
  }

  .breadcrumb li { 
    float: left; 
  }

  .breadcrumb li a {
    color: #337AB7;
    text-decoration: none; 
    padding-right: 10px;
    position: relative; 
    display: block;
    float: left;
  }

  .list-inline li{
      display: inline;
  }
}


